@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

.container {
	width: 1920px;
    max-width: 1920px;
    background-color: white;
}

.header {
    height: 100px;
}

.header_left {
    float: left;
    margin: 20px 0px 10px 400px;
}

.header_left h1 {
    display: inline-block;
    color: red;
    font-size: 50px;
}

.header_right {
    float: right;
    text-align: right;
    font-size: 20px;
    margin: 40px 300px 10px 0px;
    padding: 10px;
}

.header_right li {
    display: inline-block;
    word-spacing: 5px;
}

.nav_left {
    float: left;
    margin: 20px 0px 10px 400px;
    word-spacing: 30px;
}

.nav_left li {
    display: inline-block;
}

.nav_right {
    float: right;
    margin: -10px 300px 10px 0px;
    text-align: center;
    font-size: 40px;
}

.nav_right a {
    font-size: 20px;
}

.nav_right input {
    padding: 12px;
}

.main {
    height: 200px;
    text-align: center;
    padding: 300px;
}

.footer {
    text-align: center;
}

.footer li{
    display: inline;
    padding: 0px 20px 0px 20px;
}